.login-blue{
    border-top-left-radius: 20%;
    border-top-right-radius: 0%;
}
input{
    margin-top: 30px!important;
}
span a img{
    margin-top: 20px;
    margin-right: 20px;
}
.singin{
    background-color: var(--text-color);
    color: var(--background-color-a);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin-top: 15px;
}
.singin:hover{
    background-color: var(--background-color-a);
    color: var(--text-color);
}